kind: Pod
apiVersion: v1
metadata:
  name: k8s-dns
  namespace: kube-system
  labels:
    app: k8s-dns
spec:
  hostNetwork: true
  restartPolicy: Always
  dnsPolicy: Default
  containers:
  - name: kube2sky
    image: gcr.io/google_containers/kube2sky:1.14
    imagePullPolicy: IfNotPresent
    args:
    - "--kube-master-url=http://127.0.0.1:8080"
    - "--etcd-server=http://127.0.0.1:2379"
    - "--domain=cluster.local"
  - name: skydns
    image: skynetservices/skydns:2.5.3a
    imagePullPolicy: IfNotPresent
    args:
    - "--machines=http://127.0.0.1:2379"
    - "--addr=127.0.0.1:53"
    - "--domain=cluster.local."
    - "--ns-rotate=false"
    - "--nameservers=8.8.8.8:53,8.8.4.4:53"
    ports:
    - name: dns
      containerPort: 53
      protocol: UDP
    - name: dns-tcp
      containerPort: 53
      protocol: TCP
