kind: Pod
apiVersion: v1
metadata:
  name: k8s-master
spec:
  hostNetwork: true
  containers:
  - name: apiserver
    image: gcr.io/google_containers/hyperkube:v1.2.0
    command:
    - "/hyperkube"
    - apiserver
    - "--service-cluster-ip-range=10.0.0.1/24"
    - "--bind-address=0.0.0.0"
    - "--insecure-bind-address=0.0.0.0"
    - "--secure-port=0"
    - "--etcd-servers=http://127.0.0.1:2379"
    - "--v=2"
  - name: controller-manager
    image: gcr.io/google_containers/hyperkube:v1.2.0
    command:
    - "/hyperkube"
    - controller-manager
    - "--master=127.0.0.1:8080"
    - "--v=2"
  - name: scheduler
    image: gcr.io/google_containers/hyperkube:v1.2.0
    command:
    - "/hyperkube"
    - scheduler
    - "--master=127.0.0.1:8080"
    - "--v=2"
