kind: Pod
apiVersion: v1
metadata:
  name: k8s
  namespace: default
  labels:
    app: k8s-api
spec:
  hostNetwork: true
  restartPolicy: Always
  containers:
  - name: etcd
    image: quay.io/coreos/etcd:v2.3.1
    imagePullPolicy: IfNotPresent
    args:
    - "--listen-peer-urls=http://127.0.0.1:2380"
    - "--listen-client-urls=http://127.0.0.1:2379"
    - "--advertise-client-urls=http://127.0.0.1:2379"
    - "--data-dir=/var/etcd/data"
  - name: apiserver
    image: gcr.io/google_containers/hyperkube:v1.2.2
    imagePullPolicy: IfNotPresent
    command:
    - "/hyperkube"
    - apiserver
    - "--insecure-bind-address=127.0.0.1"
    - "--insecure-port=8080"
    - "--bind-address=0.0.0.0"
    - "--secure-port=0"
    - "--etcd-servers=http://127.0.0.1:2379"
    - "--service-cluster-ip-range=10.0.0.1/24"
    - "--service-node-port-range=1-65535"
    - "--master-service-namespace=kube-system"
    - "--basic-auth-file=/srv/kubernetes/basic_auth.csv"
  - name: controller-manager
    image: gcr.io/google_containers/hyperkube:v1.2.2
    imagePullPolicy: IfNotPresent
    command:
    - "/hyperkube"
    - controller-manager
    - "--address=127.0.0.1"
    - "--master=127.0.0.1:8080"
  - name: scheduler
    image: gcr.io/google_containers/hyperkube:v1.2.2
    imagePullPolicy: IfNotPresent
    command:
    - "/hyperkube"
    - scheduler
    - "--address=127.0.0.1"
    - "--master=127.0.0.1:8080"
  - name: kube2sky
    image: gcr.io/google_containers/kube2sky:1.14
    imagePullPolicy: IfNotPresent
    args:
    - "--kube-master-url=http://127.0.0.1:8080"
    - "--etcd-server=http://127.0.0.1:2379"
    - "--domain=cluster.local"
    - "--healthz-port=0"
  - name: skydns
    image: skynetservices/skydns:2.5.3a
    imagePullPolicy: IfNotPresent
    args:
    - "--machines=http://127.0.0.1:2379"
    - "--addr=127.0.0.1:53"
    - "--domain=cluster.local."
    - "--ns-rotate=false"
    - "--nameservers=8.8.8.8:53,8.8.4.4:53"
  - name: dashboard
    image: gcr.io/google_containers/kubernetes-dashboard-amd64:canary
    imagePullPolicy: Always
    ports:
    - containerPort: 9090
      protocol: TCP
    args:
    - "--apiserver-host=http://127.0.0.1:8080"
